/* 
color palette:
- mustard yellow (used for header, footer, and buttons): #E5AF42
- cornflower blue (used for hover states): #4278e5
*/

/************* site defaults *************/
body {
    width: 950px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* all elements with the .flex class applied are to be made into flex-box containers. */

.flex {
    display: flex;
}

/************* site-wide text styling *************/

/*headings*/
h1 {
    font-size: 48px;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 12px;
}

/*classes*/
.large-text {
    font-size: 24px;
}

.fake-button {
    background-color:#E5AF42;
    display: flex;
    align-items: center;
    line-height: 3;
    border: 1px solid black 
}

/*anchor*/
a {
    text-decoration: none;
    color: black;
}

/*anchor in hover state*/
main a:hover, footer a:hover {
    text-decoration: underline;
}

/*hover state of the two classes in this section*/
.fake-button:hover, .blue-hover:hover {
    text-decoration: underline;
    background-color: #4278e5;
    color: white;
    cursor: pointer;
}

/************* header/footer styling *************/

header, footer {
    background-color:#E5AF42;
}

/*header specific requirements*/
header {
    height: 150px;    
}

header img {
    width: 100px;
    height: 100px;
    margin: 25px 0 25px 25px
}

/*following two sections are so that the top-level heading is centered in the remaining width.*/
header a {
    width: 100%;
}

header h1 {
    margin: auto;
}

main {
    margin-top: 25px;
    margin-bottom: 50px;
}

/*footer specific requirements*/
footer {
    height: 60px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px; /*to match sample*/
}

/************* index page *************/

/*The image on the right assigned through flex*/
.index img {
    flex: 50%; /*this creates the 2-column layout*/
    width: 300px;
    margin-left: 25px;
    margin-bottom: 50px;
}

/*text specificatioons*/
.index h2 {
    line-height: 36px;
}

.index p {
    margin-bottom: 12px;
}

/*pair of fake-buttons*/
.index .fake-button {
    width: 250px;
    margin: 0px 75px; /*right and left margins are 75px making the fake-buttons appear centered*/
    justify-content: center;
}

.index .flex {
    justify-content: center;
}

/************* bookings page *************/

/*general css for booking page*/
.booking-page {
    width: 600px;
    display: flex; 
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    text-align: center;
}

.day-selector {
    margin-bottom: 12px;
    gap: 20px;
}

.day-selector li {
    width: 60px;
}

/*for buttons specifically on booking page*/
.day-selector li, .small-button { 
    border: 1px solid black;
}

/*small button specific*/
.small-button {
    padding: 5px;
}

.top-margin {
    margin-top: 24px;
    margin-bottom: 12px;
}

#clear-button {
    width: 200px;
    justify-content: center;
    margin-bottom: 40px; /* to match sample */
}

/*clicked class important for js*/
.clicked {
    background-color: #E5AF42;
}

/************* contact page *************/

/*contact page general*/
.contact {
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*form styling*/
form {
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-size: 16px;
}

/*the following allows for neat alignment*/
label {
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-right: 24px;
}

input {
    width: 300px;
    border: 1px solid black;
    margin-bottom: 24px; 
}

textarea {
    height: 150px;
    resize: none;
    width: 300px
}

/*edges of button to line up with text area element*/
form .fake-button {
    margin-top: 24px;
    width: 300px;
    margin-left: 174px; /* math: 300/2 + 24 */
    justify-content: center;
    font-family: 'Montserrat', sans-serif; /*so the font stays consistent*/
}
